<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css"/>
  <script src="/public/app.js"></script>
</head>
<body id="about-page">
    <div id="whois"><h1>Welcome to the Tony Stark Fan Page!</h1></div>
    <div id="about-image"></div>
    <div id="links-about">
        <a class="button" href="/Works">Works</a>
    </div>
    </body>
</html>