* {
    margin: 0;
    padding: 0;
  }

#welcome-page{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 800px;
    margin: 10px auto;
}

#welcome{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#welcome-image{
    background-image: url(/public/img/TonyStarkMontain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 800px;
}